<div class="bg-dark border-rigth p-3" id="sidebar">

  <h3 class="text-light">GIFTS-APP</h3>
  <hr class="text-white "/>

  <div class="list-group list-reset">
    <a *ngFor="let item of historial" 
      (click)="buscar (item)"
     href="#" class="list-group-item list-group-item-action">
      {{ item | titlecase }}
    </a>
  </div>

</div>